.cover-thumbnail {
    width: 120px;
    height: 120px;
}

.cover-large-thumbnail {
    width: 360px;
    height: 360px;
}

.cover-caption {
    width: 120px;
}

audio::-webkit-media-controls-enclosure {
    background-color: transparent;
}

audio {
    margin-top: 0.4em;
}

.figure:hover {
    cursor: pointer;
    filter: brightness(125%);
}

.figure {
    margin-bottom: 0px;
}

.album-title {
    min-width: 0px;
}